bpmLiteCommon/xsd/bpmlite.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2012 rel. 2 sp1 (x64) (http://www.altova.com) by Joe Humphries (Tibco Software Limited) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://api.bpmlite.com" targetNamespace="http://api.bpmlite.com" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="WorkItemKeyDetails">
		<xs:annotation>
			<xs:documentation>Server sent unique key/user key details for openeing forms</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="processId" type="xs:int"/>
				<xs:element name="stepId" type="xs:int"/>
				<xs:element name="uniqueFormGuid" type="xs:string"/>
				<xs:element name="userKey" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
